include LICENSE
recursive-include donuts/java *
prune donuts/java/.github
prune donuts/java/.gradle
prune donuts/java/build
prune donuts/java/src/test
exclude donuts/java/.git*
exclude donuts/java/.pre-commit-config.yaml
