[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
donuts-python = {editable = true,path = "."}
py4j = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
invoke = "*"
isort = "*"
mypy = ">=0.750"
pep8-naming = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[scripts]
bench = "invoke bench"
doc = "invoke doc"
fmt = "invoke fmt"
lint = "invoke lint"
test = "invoke test"
