[tool.poetry]
name = "donuts-python"
version = "0.0.1-alpha.1"
description = "Python binding to Donuts"
license = "MIT"
authors = ["Takahiro Ueda <tueda@st.seikei.ac.jp>"]
readme = "README.rst"
keywords = ["computer algebra", "multivariate polynomial arithmetic"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Mathematics",
]
packages = [
    { include = "donuts" },
]

[tool.poetry.dependencies]
python = "^3.7"

pyjnius = "^1.3"

[tool.poetry.dev-dependencies]
py4j = "^0.10.9.3"  # alternative to pyjnius
jpype1 = "^1.3.0"

invoke = "^1.6.0"
pre-commit = "^2.16.0"
pytest = "^6.2.5"
pytest-benchmark = "^3.4.1"
pytest-cov = "^3.0.0"
sphinx = "^4.3.2"
sphinx_rtd_theme = "^1.0.0"
sphinx-autodoc-typehints = "^1.12.0"
wheel = "^0.37.1"

# deprecated, use pre-commit run --all-files
black = "21.12b0"
flake8 = "^4.0.1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.11.29"
flake8-builtins = "^1.5.3"
flake8-comprehensions = "^3.7.0"
flake8-docstrings = "^1.6.0"
flake8-pytest-style = "^1.6.0"
isort = "^5.10.1"
mypy = "0.930"
pep8-naming = "^0.12.1"
types-setuptools = "^57.4.5"

[tool.coverage.report]
exclude_lines = [
    "@overload",
    "if TYPE_CHECKING:",
    "pragma: no cover",
    "raise AssertionError()",
    "return NotImplemented",
]

[tool.isort]
profile = "black"
skip_glob = [
    ".*",
    "donuts/java",
]
